<!DOCTYPE html>
<html>
<head>
  <title>NextGen Plaid</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>

<body data-theme="business">
<% flash.each do |type, msg| %>
  <div class="alert <%= type == 'notice' ? 'alert-success' : 'alert-error' %> rounded-none">
    <%= msg %>
  </div>
<% end %>

<%= yield %>
</body>
</html>